body{
  margin: 0;

}
::selection{
  color: white;
  background: #26af88;
}
nav{
    width: 100%;
    height: 80px;
    background-color: #fff;
}
nav> a {
    color: grey;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 20px;
    height: 80px;
    line-height: 70px;
    float: right;
}
nav> a:hover {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 20px;
    height: 80px;
    line-height: 70px;
    float: right;
}

nav> p{
  float: left;
  margin-left: 250px;
  text-transform: uppercase;
}
.logo {
    height: 56px;
    float: left;
    position: relative;
    left: 15%;
    top: 13%;;
}

.boutton>a{
border: solid #26af88 2px;
float: right;;
height: 35px;
margin-top: 9px;
margin-right: 130px;
padding: 4px;
border-radius: 3px;
padding: 11px 67px 0px;
  color: #26af88;
  text-decoration: none;

}


.point{
  color: green;
  height: 5px;
}


nav>a.active{
  color: black;
}



.slider{
  background-image: url("images/city.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height:600px;
}
.slider >img{
  text-align: center;
  width:100%;
  z-index: -1;
  clear: both;
}

.box{
  background-color: #fff;
  position: relative;
  left:250px;
  top: 70px;
  float: left;
  border-radius: 5px;
  padding: 25px 45px 24px;
  width: 20%;
  height: 70%;
}

.featdays>div{
  display: inline;
}

.feat{
  float: left;
  border: solid black 2px;
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 5px;
  padding:5px;
  margin-top: 5px;
  text-transform: uppercase;
}

.days {
  float: right;
  color: #9ca1b5;
}

.educ {
  clear: both;
}

.edutitle{
  font-weight: bold;
  text-align: left;
  font-size: 23px;
}

.edupara{
  font-size: 16px;
  color: grey;
  text-align: justify;
}

.raisgoal{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid 1px rgba(1, 0, 0, .2);
    top:15px;
}
.raisgoal>div{
  display: inline;
  text-align: center;
}
.raised{
  float:left;
  margin-right: 10px;
}

.goal{
  float: left;
  padding-left: 10px;
  border-left: solid 1px rgba(1, 0, 0, .2)
}

.raisefont{
text-transform: uppercase;
color: #99a2b2;
float: left;

}

.raisedollar{
  color: #26af88;
  font-size: 35px;
}

.goalfont{
  text-transform: uppercase;
  float: left;
  color: #99a2b2;
}

.goaldollar{
  font-size: 35px;
}


.donate a{
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  padding: 16px 20px 15px 21px;
  background-color: #29af89;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;

}

.donate a:hover{
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  padding: 16px 20px 15px 21px;
  background-color: #00ff75;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;

}


.help{
    width: 12%;
    padding: 1px;
    background-color: grey;
    margin-top: 19px;
    margin-left: 45%;
    border-radius: 4%;
    text-transform: uppercase;
    color: #FFF;
    text-align: center;

}


.helptxt{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
}

.panel2{
  margin-top: 12px;
  display: flex;
  justify-content: space-around;
}
.donation{
  width: 30%;
  text-align: center;

}
.donatimg{
  height: 180px;
}
.voluntimg{
  height: 180px;
}

.scolarimg{
  height: 180px;
}
.donatetitle{
  text-transform: uppercase;
  font-weight: bold;
}

.volunteer{
width: 30%;
text-align: center;
}

.voluntitle{
  text-transform: uppercase;
  font-weight: bold;
}
.scholarship{
  text-align: center;
  width: 30%
}

.scholartitle{
  text-transform: uppercase;
  font-weight: bold;
}
